* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lemon Milk", sans-serif;
}

:root {
    --black: #1E1E1E;
    --white: #f1f1f1; 
    --roxo: #B336FF;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
    background: var(--black);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.header a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    font-size: 30px;
}
.modal{
    display: none;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.wrapper1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile {
    position: relative;
    margin: 1rem;
}

.profile img {
    display: block;
    width: 250px;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 5;
    height: 245px;
    border-radius: 150px;
}

.lampada {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lampada img {
    width: auto;
    cursor: pointer;
    z-index: 999;
}

.container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.text h1 {
    font-size: 50px;
    color: var(--white);
}

.text span {
    color: var(--roxo);
}

.text p {
    text-align: center;
    color: var(--white);
}


.tec{
    width: 100%;
}
.text-tec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.text-tec p{
    font-size: 30px;
    font-weight: 400;

}
.tec-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: start;
}
.tec-title{
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.tec-front{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.tec-front img{
    width: 40px;
}
.tec-back img{
    width: 40px;
}
.tec-back{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.tec-back p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
}
.colunm{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.imgs-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    flex-wrap: wrap;
}
.img-wrapper{
    padding: 2rem;
}
.img-wrapper img{
    border-radius: 20px;
    width: 450px;
    height: 250px;
}
.description {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.about{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    
}
.about p{
    width: 90px;
    height: 30px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    border-bottom: 5px solid #6d6c6c;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.tec-front p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
}

@media screen and (max-width: 730px) {
    .modal{
        display: block;
    }
    .links{
        display: none;
    }
    .header {
        height: 50px;
        padding: 1rem;
    }

    
    .container {
        padding: 1rem;
        flex-direction: column; 
        align-items: center;
    }

    .wrapper1 {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center; 
    }

    .profile img {
        width: 150px;
    }

    .overlay {
        height: 150px;
    }

    .lampada img {
        width: 40vw;
    }
    .text{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .text p{
    
    }

    .tec-container{
        display: flex;
        justify-content: center;
    }

    .imgs-container{
        display: flex;
        flex-direction: column;
    }

    .img-wrapper img{
     width: 100%;
     height: auto;
    }
    .description {
        width: 100%;
    }
    
}















/*Formulario */
.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--white);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--white);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--roxo);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8e2ccc;
}



/* Light mode */

body.lightmode .lampada img#light {
    content: url('./assets/dark buld.png');
}

body:not(.lightmode) .lampada img#light {
    content: url('./assets/light bulb.png');
}


.lightmode {
    background-color: var(--white);
}
.lightmode h2{
    color: var(--black);
}
.lightmode .header a {
    color: var(--black);
}

.lightmode span {
    color: var(--black);
}

.lightmode h1 {
    color: var(--black);
}

.lightmode p {
    color: var(--black);
}

.lightmode .overlay {
    background-color: transparent;
}
.lightmode .about p{
    border-bottom: 5px solid #1E1E1E ;
}
.lightmode .tec-back p{
    border: 1px solid #000000;

}
.lightmode .tec-front p{
    border: 1px solid #000000;

}

body.lightmode .contact-form {
    background-color: var(--white);
    color: var(--black);
}

body.lightmode .contact-form h2 {
    color: var(--black);
}

body.lightmode .form-group label {
    color: var(--black);
}

body.lightmode .form-group input,
body.lightmode .form-group textarea {
    color: var(--black);
    border: 1px solid #000;
}

body.lightmode button {
    background-color: var(--roxo);
    color: var(--white);
}

.lightmode .links-modal p{
    color: var(--black);
}


/*Modal */

.modal img{
    cursor: pointer;
}

.modal dialog{
    height: 100%;
    width: 100%;
    z-index: 9999999999;
}
.links-modal{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.links-modal a{
    color: var(--black);
}